<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cek-Working-Directory" data-toc-modified-id="Cek-Working-Directory-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cek Working Directory</a></span></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span></li><li><span><a href="#Tipe-Data-Categoric" data-toc-modified-id="Tipe-Data-Categoric-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Tipe Data Categoric</a></span><ul class="toc-item"><li><span><a href="#Mengubah-nama-kategori" data-toc-modified-id="Mengubah-nama-kategori-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Mengubah nama kategori</a></span></li><li><span><a href="#Mengurutkan-kategori" data-toc-modified-id="Mengurutkan-kategori-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Mengurutkan kategori</a></span></li><li><span><a href="#Menambahkan-kategori-baru" data-toc-modified-id="Menambahkan-kategori-baru-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Menambahkan kategori baru</a></span></li><li><span><a href="#Menghapus-kategori-yang-ada" data-toc-modified-id="Menghapus-kategori-yang-ada-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Menghapus kategori yang ada</a></span></li><li><span><a href="#Menghapus-kategori-yang-tidak-diperlukan" data-toc-modified-id="Menghapus-kategori-yang-tidak-diperlukan-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Menghapus kategori yang tidak diperlukan</a></span></li></ul></li><li><span><a href="#Tipe-Data-Datetime" data-toc-modified-id="Tipe-Data-Datetime-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Tipe Data Datetime</a></span><ul class="toc-item"><li><span><a href="#Quiz-2" data-toc-modified-id="Quiz-2-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Quiz 2</a></span></li></ul></li></ul></div>

# Cek Working Directory

Hi *future Data Analyst*!! Terkadang kita ingin mengetahui working directory yang kita gunakan untuk notebook yang sedang aktif ada dimana. Disini kita bisa memanfaatkan module `os` untuk membantu kita mengetahui dimana working directory kita. Berikut ini [link](https://note.nkmk.me/en/python-os-getcwd-chdir/) yang bisa digunakan sebagai acuan untuk mengetahui working directory yang sedang aktif dan cara mengganti working directory dengan module `os`.

In [15]:
import os
os.getcwd()

'C:\\Users\\ASUS\\Inayatus\\Extract File Buat Belajar\\dataanalysis\\learnpy-p4da'

In [ ]:
# change working directory
# os.chdir()

# Exploratory Data Analysis

Pada notebook sebelumnya, kita pernah mempelajari beberapa cara untuk melakukan eksplorasi data. Beberapa method dan atibut yang bisa kita gunakan dalam melakukan eksplorasi data yaitu :
- `.head()` dan `.tail()`
- `.decribe()`
- `.dtypes`
- `.info()`
- `.shape` dan `.size`
- `.axes[]`

Pada part kali ini, kita akan membahas tentang explorasi data mengenai :
- tipe data `datetime`
- tipe data `categoric`
- table
- cross-tabulation
- pivot table
- agregasi data

In [1]:
import pandas as pd
import numpy as np

In [2]:
online = pd.read_csv("data_input/online-retail.csv", encoding='unicode_escape')
online.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [24]:
online.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

# Tipe Data Categoric

Tipe data `categoric` biasanya digunakan untuk menggambarkan suatu data berupa karakter terdiri dari beberapa kategori dalam satu kolom, contohnya jenis kelamin, tingkat pendidikan, nama divisi dan masih banyak lagi. Tipe data `categoric` lebih sering diterapkan pada data karakter yang berulang setiap kategorinya. Tipe data ini juga lebih memperingan komputasi ketika bekerja dengan suatu data. 

Beberapa hal yang bisa kita lakukan dengan tipe data `categoric` adalah :
- mengubah nama kategori
- mengurutkan kategori
- menambahkan kategori
- menghapus kategori yang ada
- menghapus kategori yang tidak diperlukan

In [7]:
online.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

Pada data `online` yang kita miliki, terdapat beberapa kolom yang memiliki tipe data `object`. Apakah tipe data tersebut sudah sesuai jika digunakan untuk ekplorasi data selanjutnya? Jika belum, kolom apa yang harus diubah tipe datanya dan diubah ke dalam tipe data apa?

In [9]:
# your code here
online['Country'] = online['Country'].astype('category')

Kita sudah memiliki satu kolom yang memiliki tipe data `categoric` yaitu kolom `Country` pada data `online`. Kita akan coba melakukan ekplorasi data dengan menggunakan kolom tersebut.

In [10]:
online['Country'].cat.categories

Index(['Australia', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Canada',
       'Channel Islands', 'Cyprus', 'Czech Republic', 'Denmark', 'EIRE',
       'European Community', 'Finland', 'France', 'Germany', 'Greece',
       'Hong Kong', 'Iceland', 'Israel', 'Italy', 'Japan', 'Lebanon',
       'Lithuania', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal',
       'RSA', 'Saudi Arabia', 'Singapore', 'Spain', 'Sweden', 'Switzerland',
       'USA', 'United Arab Emirates', 'United Kingdom', 'Unspecified'],
      dtype='object')

In [12]:
online['Country'].value_counts()

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

## Mengubah nama kategori

In [13]:
online['Country'].cat.rename_categories(
{
    'United Kingdom' : 'United Kingdom(UK)'
})

0         United Kingdom(UK)
1         United Kingdom(UK)
2         United Kingdom(UK)
3         United Kingdom(UK)
4         United Kingdom(UK)
                 ...
541904                France
541905                France
541906                France
541907                France
541908                France
Name: Country, Length: 541909, dtype: category
Categories (38, object): [Australia, Austria, Bahrain, Belgium, ..., USA, United Arab Emirates, United Kingdom(UK), Unspecified]

## Mengurutkan kategori

In [17]:
online['Country'].cat.reorder_categories(['Austria','Australia','Bahrain', 'Belgium', 'Brazil', 'Canada',
       'Channel Islands', 'Cyprus', 'Czech Republic', 'Denmark', 'EIRE',
       'European Community', 'Finland', 'France', 'Germany', 'Greece',
       'Hong Kong', 'Iceland', 'Israel', 'Italy', 'Japan', 'Lebanon',
       'Lithuania', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal',
       'RSA', 'Saudi Arabia', 'Singapore', 'Spain', 'Sweden', 'Switzerland',
       'USA', 'United Arab Emirates', 'United Kingdom', 'Unspecified'],ordered = True)

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: category
Categories (38, object): [Austria < Australia < Bahrain < Belgium ... USA < United Arab Emirates < United Kingdom < Unspecified]

## Menambahkan kategori baru

In [15]:
online['Country'].cat.add_categories(['Indonesia', 'Thailand'])

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: category
Categories (40, object): [Australia, Austria, Bahrain, Belgium, ..., United Kingdom, Unspecified, Indonesia, Thailand]

## Menghapus kategori yang ada

In [18]:
online['Country'].cat.remove_categories('United Kingdom')

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
541904    France
541905    France
541906    France
541907    France
541908    France
Name: Country, Length: 541909, dtype: category
Categories (37, object): [Australia, Austria, Bahrain, Belgium, ..., Switzerland, USA, United Arab Emirates, Unspecified]

## Menghapus kategori yang tidak diperlukan

In [19]:
online['Country'].cat.remove_unused_categories()

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: category
Categories (38, object): [Australia, Austria, Bahrain, Belgium, ..., USA, United Arab Emirates, United Kingdom, Unspecified]

# Tipe Data Datetime

In [3]:
online['InvoiceDate'] = pd.to_datetime(online['InvoiceDate'])

In [26]:
online.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [6]:
online['InvoiceDate'].dt.weekofyear

0         48
1         48
2         48
3         48
4         48
          ..
541904    49
541905    49
541906    49
541907    49
541908    49
Name: InvoiceDate, Length: 541909, dtype: int64

In [31]:
online['InvoiceDate'].dt.month_name()

0         December
1         December
2         December
3         December
4         December
            ...
541904    December
541905    December
541906    December
541907    December
541908    December
Name: InvoiceDate, Length: 541909, dtype: object

In [39]:
online['InvoiceDate'].dt.__dir__()

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_add_delegate_accessors',
 '_constructor',
 '_delegate_method',
 '_delegate_property_get',
 '_delegate_property_set',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_freeze',
 '_get_values',
 '_reset_cache',
 'ceil',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'floor',
 'freq',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'microsecond',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'quarter',
 'round',
 'second',
 'strftime',
 'time',
 'timetz',
 'to_period',
 'to_pydatetime',
 'tz',
 'tz_convert',
 'tz_localize',
 'week',
 'weekday',
 'weekday_name',
 'weekofyear',
 'year']

## Quiz 2

Menggunakan data `online-retail.csv`, ubahlah tipe data pada kolom `Invoice_Date` menjadi datetime. Buatlah kolom dengan nama `month` yang berisi informasi nama bulan, kolom `period` yang berisi informasi bulan dan tahun, dan kolom `day` berisi informasi mengenai nama hari. Selanjutnya jawablah pertanyaan dibawah ini. 

1. Jika kita ingin mendapatkan informasi nama bulan pada kolom `Invoice_Date`, method atau atribut mana yang bisa digunakan?
    - [ ] `.dt.dayofyear`
    - [ ] `.dt.month`
    - [ ] `.dt.month_name()`
    - [ ] `.dt.month_name`

---

2. Jika kita ingin mendapatkan informasi berupa bulan dan tahun dalam satu informasi, manakah method yang tepat digunakan?
    - [ ] `.dt.to_period('D')`
    - [ ] `.dt.to_period('W')`
    - [ ] `.dt.to_period('M')`
    - [ ] `.dt.to_period('Q')`
    
---

3. Untuk menampilkan nama hari dari suatu informasi datetime, atribut apa yang tepat kita gunakan?
    - [ ] `.dt.weekday_name`
    - [ ] `.dt.week`    
    - [ ] `.dt.weekday`    
    - [ ] `.dt.weekofyear`